.body {
    margin: 0px;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: rgb(209, 235, 180);
    position: relative;

    padding: 40px
}
.name {
    color: rgb(207, 20, 136);
    width: 900px;
}
.section-title {
    background-color: #a5dfe9;;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}
.section-content {
    color: brown;
}
.image{
    border-style: solid;
    border-color: rgb(20, 20, 20);
}
.space{
    padding-right: 51px;
}
.space1{
    padding-right: 30px;
}